.myHello {
  color: rgba(255, 255, 255, 0.787);
  -webkit-transition: color 25s;
  -moz-transition: color 25s;
  -ms-transition: color 25s;
  -o-transition: color 25s;
}
/* span:hover {
  color: lightgrey;
} */
.belcome {
}
/* .under {
  text-decoration: underline;
  -webkit-transition: text-decoration 25s;
  -moz-transition: text-decoration 25s;
  -ms-transition: text-decoration 25s;
  -o-transition: text-decoration 25s;
} */
